// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffdc9a;
}

main{
    min-height: calc(100vh - 135px)
}

.container{
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
}

li{
    margin: 10px auto;
}