// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffdc9a;
}

.container{
    width: 75%;
    max-width: 1000px;
}

li{
    margin: 40px auto;
}